<div class="container text-center my-5 custom-bg">
  <h1 class="display-4">BLOG APP</h1>
  <h4>Welcome {{ username }}</h4>
  <hr class="my-4">

  <div class="mt-4">
    <button class="btn btn-primary me-2" routerLink="/home">BLOGS HOME</button>
    <button class="btn btn-secondary me-2" routerLink="/createblog">CREATE NEW BLOGS</button>
    <button class="btn btn-info me-2" routerLink="/myblogs">VIEW MY BLOGS</button>
    <button class="btn btn-warning me-2" routerLink="/profile">PROFILE</button>
    <button class="btn btn-danger" routerLink="/login">LOGOUT</button>

  </div>

  <hr>

  <div class="container my-5 custom-bg">
    <h2 class="text-center">My Blogs</h2>
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="!loading && !blogs.length">No blogs available.</div>

    <div *ngIf="!loading">
      <div *ngFor="let blog of blogs" class="card mb-3 card-custom">
        <div class="card-body">
          <h5 class="card-title">{{ blog.topic }}</h5>
          <p class="card-text">{{ blog.blog }}</p>

          <button class="btn btn-info me-2" [routerLink]="['/edit', blog.blogid]">Edit</button>
          <button class="btn btn-danger" (click)="deleteBlog(blog.blogid)">Delete</button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="goHome()">Back to Home</button>
  </div>
</div>
